<div id="challenge">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        
        <div class="row justify-center" id="select-character">
          {{!-- {{#each my_hero}}
          {{> heroes/heroes-card}}
          {{/each}} --}}
          <img src="/img/vs.png" width="50">
        </div>


        <div class="p-10">
          <label class="block">
            <span class="text-gray-700">Select A Challenger</span>
            <select class="form-multiselect block w-full mt-1">
              {{#each players}}
                <option val={{id}}>{{email}}</option>
              {{/each}}
            </select>
          </label>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>