/**
 * CCOLLINS CSS
 * Author:  Christopher Collins
 * Version: 2.0
 * License: none (public domain)
 */
/*------------------------------------------------------
>>> TABLE OF CONTENTS
/*------------------------------------------------------
1.0 SUB PAGES

/*------------------------------------------------------*/
/*--------------[ 1.0 SUB PAGES ]-----------------------*/
/*------------------------------------------------------*/
/* 1.1 
/*------------------------------------------------------*/
.title-brand {
  color: var(--accent-text);
}

.list-group-item {
  padding: 0.1rem 1.25rem;
  border: none;
}
